.ntt {
  background: white;
  z-index: 10;
}

.name-title {
  top: -1px;
  padding: 1rem 1.25rem;
  background: transparent;
  z-index: 11;

  @media (min-width: 960px) {
    padding: 1rem 7.5rem;
  }
  &.is-sticky {
    background: white;
    box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.10196);
  }
}

#name {
  letter-spacing: -0.8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2rem;
  font-weight: 1000;
  line-height: 1.15;
}

#title {
  font-family: 'Fira Mono';
  margin: .5rem 0;
  white-space: nowrap;
  font-size: .875rem;
  color: rgba(0, 0, 0, 0.8);
}
#tabs {
  margin-bottom: 1rem;
  padding: 0 .25rem;
  
  @media (min-width: 500px) {
    padding-left: 0;
  }
}
