ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.tabs {
  flex-wrap: wrap;

  @media (min-width: 960px) {
    display: none!important;
  }
}

li.tab {
  width: 100%;
  font-weight: 600;
  -webkit-font-smoothing: auto;
  border-left: 3px solid black;
  border-radius: 0 5px 5px 0;

  @media (min-width: 960px) {
    border-bottom: 3px solid black;
    border-left: 0;
    border-radius: 5px 5px 0 0;
  }
}
#tabs svg {
  margin-right: .5rem;
}

li.tab1 {
  color: rgb(158, 119, 0);
  border-color: #FFCD3A!important;
  background-color: rgba(255, 205, 58, 0.2);
}
li.tab1.not-selected:hover {
  background-color: rgb(255, 249, 229);
}

li.tab2 {
  color: #cb3837;
  border-color: #cb3837!important;
  background-color: rgba(203, 56, 55, 0.2);
}
li.tab2.not-selected:hover {
  background: rgb(250, 235, 235);
}

li.tab3 {
  color: rgb(120, 33, 117);
  border-color: #C836C3!important;
  background-color: rgba(200, 54, 195, 0.2);
}
li.tab3.not-selected:hover {
  background: rgb(250, 235, 249);
}

li.tab4 {
  color: rgb(41, 0, 138);
  border-color: #8956FF!important;
  background-color: rgba(137, 86, 255, 0.2);
}
li.tab4.not-selected:hover {
  background: rgb(237, 229, 255);
}

li.not-selected {
  background-color: white;
}
.tab svg {
  width: 1.2rem;
  height: 1.2rem;
}
.tabs-top {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  position: relative;
  top: -51px;
  height: 0;
  margin: 0;
  transition: all .5s;
  background: white;

  &.at-top {
    top: 0;
    margin: .5rem 0;
    height: 40px;
    transition: top .5s;
    z-index: 1;
  }
  @media (min-width: 960px) {
    top: 0;
    margin: .5rem 0;
    height: 40px;
    transition: top .5s;
    z-index: 1;
  }
  li.tab {
    border: 0;
    border-bottom: 3px solid black;
    padding: .25rem 0 0;
    height: 40px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem .25rem 0 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    @media (min-width: 960px) {
      flex-direction: row;

      svg {
        margin-right: .5rem;
      }
    }
    svg {
      font-size: 1rem;
    }
  }
}
