content {
  font-size: 18px;
  color: rgba(0, 0, 0, .85);
  /* width: 50vw; */
  line-height: 1.65;
  letter-spacing: 0.1px;
}

.content-title {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
/* 
#summary-content {
  position: absolute;
  top: 8rem;
}
#projects-content {
  position: absolute;
  top: 30rem;
}
#education-content {
  position: absolute;
  top: 142rem;
}
#experience-content {
  position: absolute;
  top: 147rem;
} */
