.content-wrapper {
  font-size: 18px;
  color: rgba(0, 0, 0, .85);
  line-height: 1.65;
  letter-spacing: 0.1px;
  padding: 0 .75rem;
  @media (min-width: 960px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 1.25rem;
  }
}
.content {
  @media (min-width: 960px) {
    width: 66%;
    margin-right: 3rem;
  }
}
.content-title {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 0;

  @media (min-width: 960px) {
    margin-top: 0;
  }
}
.contact-shmoo-button {
  padding: 16px;
  border: 1px solid #ececec;
  border-radius: 4px;
  background-color: white;
  transition: background-color .5s;
  text-align: center;
  &:hover {
    background-color: #ececec;
  }
  &:active {
    background-color: #454545;
  }
}
/* 
#summary-content {
  position: absolute;
  top: 8rem;
}
#projects-content {
  position: absolute;
  top: 30rem;
}
#education-content {
  position: absolute;
  top: 142rem;
}
#experience-content {
  position: absolute;
  top: 147rem;
} */
