#random {
  border-width: 10px 0 0;
  border-style: solid;
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
  padding: 1rem;
  margin: 0 auto;
  max-width: 96rem;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: .75rem;
  font-weight: 600;

  @media (min-width: 960px) {
    padding: 10px 2rem;
  }
  > div:first-child {
    display: none;
    // width: 70%;

    @media (min-width: 500px) {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
  }
  > div:last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    // margin: 0 .25rem;
    @media (min-width: 500px) {
      width: unset;
    }
    span {
      width: unset;
      @media (min-width: 500px) {
        margin: 0 .5rem;
      }
      @media (min-width: 960px) {
        font-size: 14px;
        margin: 0 1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

#heart {
  color: black;
  font-size: 1.25rem;
  padding-right: 1rem;
  text-decoration: none;
}

#random-msg {
  color: black;
  text-align: left;
  margin-right: 2rem;
  text-decoration: none;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 0.015625em;
  line-height: 1.15;
  white-space: nowrap;
}