#random {
  border-width: 10px 0 0;
  border-style: solid;
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
  padding: 1rem;
  margin: 0 auto;
  max-width: 96rem;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: .75rem;
  font-weight: 600;

  > div:first-child {
    display: none;
    width: 70%;

    @media (min-width: 500px) {
      display: flex;
    }
  }
  > div:last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    // margin: 0 .25rem;

    span {
      @media (min-width: 500px) {
        margin: 0 .5rem;
      }
    }
  }
}

#heart {
  color: black;
  font-size: .875rem; /* don't forget to set rem! */
  padding-right: 1rem;
  line-height: 1.25;
  text-decoration: none;
}

#random-msg {
  color: black;
  text-align: left;
  margin-right: 2rem;
  text-decoration: none;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 0.015625em;
  line-height: 1.15;
  white-space: nowrap;
}