.sidebar-subtitle {
  color: rgba(0, 0, 0, 0.5);
  margin: 1rem 0 0.875rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  font-size: 1rem;
}
.contact {
  margin: 0;
}

.contact-bar {
  border: 1px #e8e8e8 solid;
  border-left: 35px #e1e1e1 solid;
  font-family: 'Fira Mono';
  max-width: 95vw;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0px;
  padding: 0.35rem 1rem 0.2rem;
  border-radius: 0.25rem;
  position: relative;
}

.contact-icon {
  height: 1.5rem;
  left: -29px;
}

.current-obsession {
  padding: 0 0.5rem 0.25rem 0;
  border-bottom: 2px solid #ead4ff;
  /* darker purple: #9826FF or maybe #8956FF */
  /* more specifically: rgb(137, 86, 255) and rgba(137, 86, 255, .2) */
}

.obsession-text {
  text-align: left;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Source Sans Pro';
  font-weight: 600;
}

#obsession-svg {
  position: relative;
  top: 5px;
  right: -8px;
  width: 170px;
  height: 40px;
}

.skill-subtitle {
  padding-bottom: 0.5rem;
  margin: 0.5rem 0;
}

.skills-list {
  padding-bottom: 0.5rem;
  color: red;
  display: flex;
  flex-wrap: wrap;
}

.skill-items {
  margin-right: 0.875rem;
}

#sidebar {
  min-width: 30vw;
}

.sidebar {
  @media (min-width: 960px) {
    // width: 33%;
    margin-left: 1rem;
  }
}
#content-sidebar {
  flex-wrap: wrap-reverse;
  padding: 1rem;
}
