#main {
  width: 81%;
  margin: 4rem auto;
}

#footer {
  height: 800px;
}

@media (max-width: 960px) {
  #main {
    width: 100%;
    margin: auto;
  }
  #content-sidebar {
    flex-direction: column-reverse;
  }
  #sidebar {
    padding: 0;
  }
  #name {
    padding-top: 2rem;
  }
  .responsive-padding {
    padding: 0 2rem;
  }
}
