#main {
  width: 81%;
  margin: 4rem auto;
}

#footer {
  height: 800px;
}

@media (max-width: 960px) {
  content {
    width: auto;
  }
  #main {
    width: 100%;
    margin: auto;
  }
  .tabs-web {
    /* display: none; */
  }
  #content-sidebar {
    flex-direction: column-reverse;
  }
  #name {
    padding-top: 2rem;
  }
  .responsive-padding {
    padding: 0 2rem 1rem;
  }
}
