.project:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.project-title {
  font-size: 1.5rem;
}

.project-subtitle {
  font-family: 'Fira Mono';
  font-size: .875rem;
}

/* .project-description {
  font-style: italic;
} */

.project-img {
  max-width: 60%;
}

.project-contribution {
  text-align: left;
}

.project-tech {
  text-align: right;
}