.project:hover {
  background: linear-gradient(rgb(255, 249, 229), rgb(250, 235, 235), rgb(250, 235, 249), rgb(237, 229, 255));
  border-radius: 5px;
}

.project {
  text-align: left;
  padding: 1rem;
}

.project-title {
  margin-bottom: 0;
  margin-top: 0;
}

.project-subtitle {
  font-family: 'Fira Mono';
  font-size: .875rem;
  padding-bottom: .5rem;
}

.project-img {
  max-width: 90%;
}

.project-description {
  text-align: left;
}

.project-tech {
  font-family: 'Source Sans Pro';
  font-size: .875rem;
  color: white;
  margin: 1rem;
}

.tech {
  padding: 2px 5px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.tech-key {
  background: #5B5B5B;
  border-radius: 3px 0 0 3px;
}

.tech-value-green {
  background: #04C504;
  border-radius: 0 3px 3px 0;
}

.tech-value-red {
  border-radius: 0 3px 3px 0;
  background: #E45637;
}

.description {
  margin: 0 1rem .5rem;
}

.description-key {
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.description-value {
  margin: 0 1rem;
}
