.project:hover {
  background: rgb(255, 249, 229);
  border-radius: 5px;
  /* background-color: rgba(0, 0, 0, 0.1);  */
  /* font-weight: bold; */
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  /* box-shadow: .5rem .5rem 2px 1px rgba(0, 0, 0, .1); */
}

.project {
  text-align: left;
  padding: 1rem;
  /* line-height: 1.15; */
}

.project-title {
  margin-bottom: 0;
}

.project-subtitle {
  font-family: 'Fira Mono';
  font-size: .875rem;
  padding-bottom: .5rem;
}

.project-img {
  max-width: 90%;
}

.project-description {
  text-align: left;
}

.project-tech {
  font-family: 'Source Sans Pro';
  font-size: .875rem;
  color: white;
  margin-right: 1rem;
}

.tech {
  padding: 2px 5px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.tech-key {
  background: #5B5B5B;
  border-radius: 3px 0 0 3px;
}

.tech-value-green {
  background: #04C504;
  border-radius: 0 3px 3px 0;
}

.tech-value-red {
  border-radius: 0 3px 3px 0;
  background: #E45637;
}
