body {
  margin: 0;
  height: 800px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.sticky {
  position: sticky;
}

.green {
  color: rgb(25, 169, 116);
  letter-spacing: 0;
}

@font-face {
  font-family: 'GubBlaBlo';
    src: url('./fonts/GUBBLABLO.eot');
    src: url('./fonts/GUBBLABLO.eot?#iefix') format('embedded-opentype'),
          url('./fonts/GUBBLABLO.woff') format('woff'),
          url('./fonts/GUBBLABLO.ttf') format('truetype'),
          url('./fonts/GUBBLABLO.svg#gubblablo') format('svg');
    font-weight: normal;
    font-style: normal;
}
