#sidebar {
  padding: 1rem 0 0 4rem;
}

#sidebar-sticky {
  top: 190px;
}

.sidebar-subtitle {
  margin-top: .5rem;
  padding-top: .5rem;
  color: rgba(0, 0, 0, .5);
}

.contact-bar {
  border: 1px #e8e8e8 solid;
  border-left: 35px #e1e1e1 solid;
  font-family: "Fira Mono";
  max-width: 95vw;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .875rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, .8);
  letter-spacing: 0px;
  padding: 5px 1rem;
  border-radius: .25rem;
}

.contact-icon {
  height: 1.5rem;
  left: .4rem;
}
