ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  font-family: 'Source Sans Pro', sans-serif;
}

li {
  border-bottom: 2px solid black;
}

#tab1 {
  color: rgb(158, 119, 0);
  border-color: #FFCD3A;
}

#tab2 {
  color: #cb3837;
  border-color: #cb3837;
}

#tab3 {
  color: rgb(120, 33, 117);
  border-color: #C836C3;
}

#tab4 {
  color: rgb(41, 0, 138);
  border-color: #8956FF;
}
