body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(0, 0, 0, 0.85);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

li {
  padding: 0.7rem 2rem;
  display: block;
  // text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.sticky {
  position: sticky;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.green {
  color: rgb(25, 169, 116);
  letter-spacing: 0;
}
.pink {
  color: rgb(167, 29, 93);
}
.purple {
  color: rgb(121, 93, 163);
}
.blue {
  color: rgb(0, 134, 179);
}

.highlight {
  font-family: "Fira Mono";
  font-size: 0.875rem;
  line-height: 1.15;
  padding: 0.125rem 0.25rem;
  border-radius: 3px;
  background: rgb(247, 247, 247);
}

.hide-for-tiny-screens {
  @media (max-width: 320px) {
    display: none;
  }
}
.hide {
  display: none;
}
