#footer-container {
  border-top: solid 1px rgba(0, 0, 0, .1);
  min-height: 200px;
}

#footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-banner {
  height: 10px;
  width: 100%;
  background-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}
.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 4rem 7rem 4rem 4rem;
  font-size: 1rem;

  .footer-heading {
    font-weight: bold;
  }
  .footer-column {
    > * {
      margin: .5rem 0;
      color: rgba(0, 0, 0, .7);
      &:hover {
        color: rgba(0,0,0,.9);
      }
    }
  }
}
.footer-icons {
  display: flex;
  justify-content: center;

  a {
    color: rgba(0, 0, 0, .5);
    margin: 2rem 1rem;
    font-size: 18px;
    
    &:hover {
      color: rgba(0,0,0,.8);
    }
  }
}
